In [2]:
print("conhecendo comando print")
x = 8
print(x)

conhecendo comando print
8

In [4]:
y =10
soma = x +10
print(soma)

18

In [9]:
nome = "Alexandro"
print(nome)

Alexandro

**concatenação**

In [10]:
x = 5
print('o valor de x é',x)

o valor de x é 5

In [15]:
print('o valor de x é',x, 'e o dobro é', x * 2)

o valor de x é 5 e o dobro é 10

In [16]:
print('eu,',nome,'tirei', x,'na prova de python')

eu, Alexandro tirei 5 na prova de python

In [17]:
y=10; z = 20+x-y
print('declarar varias variaveis na mesma linha:', y, z)

declarar varias variaveis na mesma linha: 10 15

**TYPE**

In [19]:
X =10
type(X)
print('x', type(x))

nomme ='alexandro'
print('nome', type('nome'))
num='100'
num_convert = int(num) #conveter variavel
print('num', type(num))
print('num_convet', type(num_convert))
num_float = float(num)
print('num_float', num_float)

x <class 'int'>
nome <class 'str'>
num <class 'str'>
num_convet <class 'int'>
num_float 100.0

**INPUT**

* ARMAZENAR A INFORMAÇÃO DIGITADA PELO USUARIO EM UMA VARIAVEL

* O DADO ARMAZENADO SEMPRE SERA UM TEXTO

In [20]:
nome = input("digite o nome do usuario") # aguardar o usuario digitar algo
print(nome)

digite o nome do usuarioAlexandro
Alexandro

In [26]:
valor = input('digite uma nota ')
print(nome, 'sua nota foi', valor)

digite uma nota 10
Alexandro sua nota foi 10

In [33]:
valor = input('digite o valor do produto ')
print(valor)

digite o valor do produto 100
100

In [34]:
valor_convert = int(valor)
desconto = valor_convert - 5
print(desconto)

95

In [35]:
desconto = int(valor) - 5
print(desconto)

95